@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
*{
    font-family: "Comfortaa", sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    height: 2em;
    padding: 0 3em;
}
.navItems{
    display: flex;
    align-items: center;
}
.search{
    position: relative;
}
ul{
    display: flex;
    width: 25em;
    justify-content: space-between;
}
li{
    list-style: none;
}
.searchinput{
    
}
.fa-magnifying-glass{
    position: absolute;
    left: 9em;
}